{% if site.style == 'dark' %}
  {% assign icon_color = "#ffffff" %}
{% else %}
  {% assign icon_color = "#24292e" %}
{% endif %}

{% assign content = page.content | strip_newlines %}

{% assign posts_total = site.posts | size %}

{% assign user = site.github.owner %}

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ user.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://kesegotumisang.github.io/assets/styles.css" rel="stylesheet" type="text/css">
      <link rel="canonical" href="https://kesegotumisang.com"/>

        
 <meta itemprop="name" content="Kesego Tumisang"/>
<meta itemprop="url" content="https://kesegotumisang.com"/>
        <!-- Social: Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@kesegotumisang">
    <meta name="twitter:title" content="Kesego Tumisang">
    <meta name="twitter:description" content="Kesego Tumisang">
    <meta name="twitter:image:src" content="https://user-images.githubusercontent.com/5565417/103620821-d8de2000-4f3c-11eb-8ae0-712f3736d7d3.jpg">
    <!-- Social: Facebook / Open Graph -->
    <meta property="og:title" content="Kesego Tumisang" /> 
    <meta property="og:site_name" content="Kesego Tumisang" /> 
    <meta property="og:type" content="website" /> 
    <meta property="og:url" content="https://kesegotumisang.com" />
    <meta property="og:image" content="https://user-images.githubusercontent.com/5565417/103620821-d8de2000-4f3c-11eb-8ae0-712f3736d7d3.jpg" />
    <meta property="og:description" content="Kesego Tumisang" /> 
        
        
    
    
    
  </head>
  <body class="bg-white" {% if site.style == 'dark' %}style="background-color: #2f363d !important"{% endif %}>
